.app-order-table {
    border: 0.09em solid gainsboro;
}
.app-order-container {
    margin: 2em auto;
}
.app-remove-cart-item button {
    outline: none;
    background: none;
    border: 0;
}
.table-src-snippets {
    background-size: cover;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border: 0.07em solid gray;
    background-position: center center;
}