.container.app-main-container {
    margin: 2em auto;
}
.app-button-primary,
.app-button-secondary {
    font-size: 1em;
    padding: 0.1em 0.15em; 
    margin-right: 0.5em;
}
.container.app-main-container .card {
    min-height: 24em;
    margin: 0.5em;
}