<section class="app-login-screen">
    <div class="centered-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 center-layout">
                    <div class="navbar-brand app-login-brand" routerLink="/" title="Win-1 Online Food Store">
                        <i class="material-icons">store</i>
                    </div>
                    <h3>Win-1 Online Food Store</h3>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email"
                                class="form-control" 
                                id="email" 
                                name="email"
                                aria-describedby="email" 
                                placeholder="Enter email"
                                [formControl]="email" 
                                required/>

                            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                class="alert alert-danger">Error: email is invalid
                            </div>
                            <div *ngIf="cognitoFailed" class="alert alert-danger">
                                {{cognitoFailed}}
                            </div>
                            <div *ngIf="userPoolNotDefined" class="alert alert-success">
                                <a routerLink="/">It's your lucky day. UserPool is not defined. View app here until we fix the authentication issue.</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" 
                                class="form-control" 
                                id="password"
                                name="password"
                                aria-describedby="password"
                                placeholder="Password"
                                [formControl]="password"
                                required/>

                            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                class="alert alert-danger">Error password is invalid
                            </div>
                        </div>
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary app-cust-submit">Submit</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>
</section>